### UPDATE THE BINARY and DATABASE DIRECTORIES BEFORE RUNNING PAMIR   
### DO NOT INCLUDE ANY SPACE (" ") IN ANY LINE
#########################################################

SAMTOOLS=/cs/compbio3/yenyil/Pinar/samtools-1.3.1/samtools
VELVETH=/cs/compbio3/yenyil/Pinar/LIB/velvet/velveth
VELVETG=/cs/compbio3/yenyil/Pinar/LIB/velvet/velvetg
BLASTN=/cs/compbio3/yenyil/Pinar/LIB/ncbi-blast-2.5.0+/bin/blastn
BLASTDB=/cs/compbio3/yenyil/Pinar/LIB/ncbi-blast-2.5.0+/db/
#########################################################
