### UPDATE THE BINARY and DATABASE DIRECTORIES BEFORE RUNNING PAMIR   
### DO NOT INCLUDE ANY SPACE (" ") IN ANY LINE
#########################################################

MRSFAST=/groups/hachgrp/software/mrsfast/3.4.0/mrsfast
SAMTOOLS=/groups/hachgrp/software/samtools/1.9/bin/samtools
VELVETH=/groups/hachgrp/software/velvet/1.2.10/bin/velveth
VELVETG=/groups/hachgrp/software/velvet/1.2.10/bin/velvetg
BLASTN=/groups/hachgrp/software/blast+/2.9.0/bin/blastn
BLASTDB=/groups/hachgrp/projects/col-calkan-1000g/code/pamir-snake/blastdb
#########################################################
