### UPDATE THE BINARY and DATABASE DIRECTORIES BEFORE RUNNING PAMIR   
### DO NOT INCLUDE ANY SPACE (" ") IN ANY LINE
#########################################################

MRSFAST=/my/path/to/pamir/mrsfast/mrsfast
SAMTOOLS=/my/path/to/pamir/samtools-1.X.X/samtools
VELVETH=/my/path/to/velvet/velveth
VELVETG=/my/path/to/velvet/velvetg
BLASTN=/my/path/to/ncbi-blast-2.X.X+/bin/blastn
BLASTDB=/my/path/to/ncbi-blast-2.X.X+/db/
#########################################################
